#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define FIRST   1
#define SECOND  2


/ {
    keymap {
        compatible = "zmk,keymap";
        // -----------------------------------------------------------------------------------------
        // | TAB  |  Q  |  W  |  E  |  R  |  T    |   |  Y    |  U  |  I  |  O  |  P  | BKSP |
        // | ESC  |  A  |  S  |  D  |  F  |  G    |   |  H    |  J  |  K  |  L  |  ;  | ENTR |
        // | SHFT |  Z  |  X  |  C  |  V  |  B    |   |  N    |  M  |  ,  |  .  |  /  | SHFT |
        //                    | ALT | GUI | 1/SPC |   | 2/ENT | GUI | ALT |
        default_layer {
            bindings = <
                &kp TAB &kp Q &kp W &kp E &kp R &kp T       &kp Y &kp U &kp I &kp O &kp P &kp BSPC
                &kp ESC &kp A &kp S &kp D &kp F &kp G       &kp H &kp J &kp K &kp L &kp SEMI &kp ENTER
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                &kp LALT &kp LGUI &lt 1 SPACE               &lt 2 RET &kp RGUI &kp RALT
            >;
        };
        // -----------------------------------------------------------------------------------------
        // |     |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
        // |     |     |     |     |     |     |   |     |     |     |     |     |      |
        // |     |     |     |     |     |     |   |     |     |     |     |     |      |
        //                   |     |     | SPC |   | ENT |     |     |
        first_layer {
            bindings = <
                &trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5       &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &trans
                &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans
                &trans &trans &kp SPACE                         &kp RET &trans &trans
            >;
        };
        // -----------------------------------------------------------------------------------------
        // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
        // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
        // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
        //                    | GUI |     | SPC |   | ENT |     | ALT |
        second_layer {
            bindings = <
                &kp TAB &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT     &kp CARET &kp AMPS &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
                &kp LCTRL &trans &trans &trans &trans &trans            &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp GRAVE
                &kp LSHFT &trans &trans &trans &trans &trans            &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE &kp TILDE
                &kp LGUI &trans &kp SPACE                               &kp RET &trans &kp RALT
            >;
        };
    };
};
